body{
    background-color:black;
    font-style: italic;
    color: bisque;
}
*{
    padding: 0%;
}
a{
    text-decoration: dotted;
    color: beige;
}

#navbar{
    padding: 10px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

#navbar h4{
    display: block;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color:white;
}
#navbar div a{
    font-family: cursive;
    margin-right: 14px;
}

#navbar div a:hover{
    color: blue;
    cursor: progress;
}

#navbar div i{
    padding: 0px 10px;
    color: crimson;
    border: none;
    font-size: medium;
    border-radius: 10px;

}
.landing{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;

}

.landing div{
    width: 45vw;
}

.landing .right{
    border-radius: 15px;
    text-align: center;
    background-color:whitesmoke;
}

.landing p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.landing button{
    border: none;
    background-color: dimgrey;
    border-radius: 5xp;
    color:white;
    padding: 5xp 15xp;
}
.landing button:hover{
    background-color: black;
    cursor: grab;
}
.landing img{
    height: 60vh;
    background-color: black;
}
.footer{
    background-color:black;
    color: azure;
    padding: 20px;
    text-align: center;

}

.footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

.footer a{
    color: whitesmoke;
}

.footer a:hover{
    color: blue;
}
